.navbar {
  background: rgba(54, 57, 48, 0.193); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  padding: 20px 40px; /* Increase padding for larger navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* Ensure it stretches to the whole top space */
  color: #ffffff;
  z-index: 1000; /* Ensure it stays on top */
  transition: top 0.5s ease-in-out;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.navbar-left {
  font-family: 'Doto', sans-serif;
  font-weight: bold;
  margin-left: 15px;
  color: #ffffff;
  display: flex;
  font-size: 1.5em; /* Increase text size */
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-family: 'Doto', sans-serif;
  font-size: 1.2em; /* Increase text size */
}

.navbar-right a {
  color: #ffffff;
  text-decoration: none; /* Remove underline */
  margin: 0 15px; /* Add slight spacing */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.navbar-right a:hover {
  color: #b0b0b0; /* Change to slight grayish color on hover */
}

.navbar.show {
  top: 0;
}

.navbar.hide {
  top: -100px; /* Adjust this value to hide it completely */
}